body {
    background-color: pink;
}

.main-header {
    font-weight: bold;
    font-size: 100px;
    margin-left: 20%;
    color: #2e5d2d;
}

.sub-header {
    font-size: 30px;
    margin-left: 37%;
    margin-top: -1%;
    color: green;
    font-style: italic;
}